body {
	background: #eaeaea url('bg.png');
	color: #4d4d4d;
}

button,
input[type="checkbox"] {
  outline: none;
}

ul.task-list {
	list-style: none outside none;
	background-color: white;
}

li.task-header-1 { padding-top: 1em; font-size: 120%; font-weight: bold }

li.task span.index { width: 3em; float: left; text-align: right; }
li.task input.checkbox-closed { width: 3em; margin: auto 0; }

.field-folder {
	color: blue;
}
.field-horizon {
	color: #008080;
}

span.tags {
	color: #066;
}
